#author {
    border-radius: 50%;
}

.painting-bg {
    background: url(./images/paper.png);
    transition: opacity 2s, ease-in;
    height: 410px;
    z-index: 1;
}

.painting-bg-left {
    background: url(./images/painting-bg-left.png) no-repeat;
    height: 410px;
    width: 366px;
    position: absolute;
    z-index: 2;
    left: 0;
}

.painting-bg-right {
    background: url(./images/painting-bg-right.png) no-repeat bottom right;
    height: 410px;
    width: 407px;
    position: absolute;
    z-index: 2;
    right: 0;
}

#about {
    min-height: 500px;
    text-align: center;
}

.avatar {
    width: 200px;
    margin: -100px 0 0 0;
    position: relative;
    z-index: 999;
}

#moto {
    color: #cecece;
    font-size: 20px;
    margin: 20px 0 20px 0;
}

.badge-customer {
    background-color: #cecece;
    color: #2b2b2b;
}

.intro {
    font-size: 30px;
    color: #cfcfcf;
    margin: 20px 0 0 0;
    text-align: right;
}

.skill {
    text-align: left;
    font-size: 20px;
    color: #bebebe;
}

#contact {
    /* background: url(./images/paper.png); */
    /* transition: opacity 2s, ease-in; */
    min-height: 410px;
}

#footer {
    background: url(./images/paper.png);
    transition: opacity 2s, ease-in;
    min-height: 210px;
}

#footer a {
    text-decoration: none;
}

.qrcode {
    display: none;
    position: absolute;
    max-width: 10rem;
    max-height: 10rem;
    bottom: 0rem;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#wechat:hover + .qrcode{
    display: block;
}
